/* Стилі за замовчуванням */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #16324F;
    padding: 1rem;
}

header h1 {
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

section {
    padding: 1rem;
    margin: 0 30px;
}

.img-container {
    display: flex;
    justify-content: space-between;
}

.my-img {
    width: 30%;
    margin: 20px 0;
}

footer {
    background-color: #13293D;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

/* Стилі для екранів менше 600 пікселів */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.2rem;
    }

    section h2 {
        font-size: 1.4rem;
    }
}

@media (max-width: 900px) {
    .img-container {
        display: block;
    }

    .my-img {
        display: block;
        width: 80%;
        margin: 20px auto;
    }
}

/* Стилі для екранів більше 600 пікселів */
@media (min-width: 601px) {
    header h1 {
        font-size: 2rem;
    }

    section h2 {
        font-size: 1.8rem;
    }
}
